target
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/deployment.xml
.idea/modules.xml
.idea/libraries/Maven__*.xml
.idea/artifacts/*
.idea/codeStyles/*
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/runConfigurations/*.xml
*.iml
node_modules
.env
*.log
sqlbackup
